/*  your css code here. If applicable */
        body {
            background-color: #f5f5f5;
            font-family: "Times New Roman", serif;
            display: flex;
            justify-content: center;
            padding-top: 40px;
        }

        .card {
            width: 350px;
            padding: 20px;
            background-color: #eeeeee;
            box-shadow: 0 5px 20px rgba(0,0,0,0.2);
            text-align: center;
            border-radius: 10px;
        }

        .card img {
            width: 100%;
            border-radius: 5px;
        }

        .card h1 {
            font-size: 32px;
            margin: 20px 0 10px;
        }

        .card p {
            font-size: 20px;
            line-height: 28px;
            margin: 5px 0;
        }

        .btn {
            padding: 12px 25px;
            background-color: #e76860;
            color: white;
            border-radius: 12px;
            font-size: 20px;
            border: none;
            margin-top: 20px;
            cursor: pointer;
        }

        .btn:hover {
            opacity: 0.9;
        }